body {
    margin: 0px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}
ul {
    list-style-type: none;
}
/* Header styling */
.headerContainer {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0.25rem 0.75rem;
    height: 5rem;
    position: sticky;
    top: 0rem;
    background-color: #fff;
}
.header {
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 100%;
}
.logo {
    width: 7rem;
    position: absolute;
    top: 0;
    filter: drop-shadow(0px 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
}
.navItemsContainer {
    margin-left: auto;
}
.navItems {
    display: flex;
    margin: 0rem;
    padding-left: 0rem;
}
.navItem {
    cursor: pointer;
    padding: 0.5rem;
}
.navItem:not(:last-child) {
    margin-right: 2rem;
}

/* Body styling */
.bodyContainer {
    padding: 4rem;
    height: calc(100% - 5rem);
}
.restContainer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}
.cardContainer {
    border: 0.063rem solid #ddd;
    border-radius: 0.5rem;
    background-color: #fff;
}
.imageSec {
    padding: 0.5rem;
    border-bottom: 0.063rem solid #ddd;
    height: 15rem;
}
.imageSec img {
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
}
.detailContainer {
    padding: 1rem;
}
.detailContainer h2 {
    margin-top: 0rem;
}
